a:link {
    text-decoration: none;
    background-color: teal;
}

/* body {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 55%;
}

#quiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#headOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
} */